@import "tailwindcss";

.flipPokeCard {
  @apply bg-transparent w-[125px] h-[175px] perspective-midrange;
}

.flipPokeCardInner {
  @apply relative w-full h-full transform-3d;
}

.flipPokeCardFront,
.flipPokeCardBack {
  @apply absolute w-full h-full backface-hidden rounded-[10px];
}

.flipPokeCardBack {
  @apply transform-[rotateY(180deg)];
}

.flipPokeCardFront {
  @apply text-center p-2.5 border-5 border-sky-700 bg-yellow-500;
}

.loading {
  animation: flip 600ms linear;
}

.pokeCardBackImg {
  @apply rounded-[10px];
}

.pokeImgWrapper {
  @apply flex justify-center;
}

.pokeImg {
  @apply border-3 border-slate-400 bg-white;
}

@keyframes flip {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
